<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Write</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>WRITE_BUNDLE_ID.fileprovider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WriteFileProviderExtension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-nonui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).FileProviderExtension</string>
		<key>NSExtensionFileProviderDocumentGroup</key>
		<string>WRITE_APP_GROUP</string>
		<key>NSExtensionFileProviderSupportsEnumeration</key>
		<true/>
		<key>NSExtensionFileProviderActions</key>
		<array>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>net.writeapp.write.fileprovider.copy-write-link</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Copy Write Link</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1 AND ANY fileproviderItems.userInfo.writeLinkAvailable == YES</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>net.writeapp.write.fileprovider.share</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Share</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1 AND ANY fileproviderItems.userInfo.writeFileActions == YES</string>
			</dict>
			<dict>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>net.writeapp.write.fileprovider.manage-access</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Manage Access</string>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>fileproviderItems.@count == 1 AND ANY fileproviderItems.userInfo.writeFileActions == YES</string>
			</dict>
		</array>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TextBundle document</string>
			<key>UTTypeIdentifier</key>
			<string>org.textbundle.package</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>textbundle</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.textbundle</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>WriteAppGroupIdentifier</key>
	<string>WRITE_APP_GROUP</string>
	<key>WriteKeychainAccessGroup</key>
	<string>WRITE_KEYCHAIN_GROUP</string>
</dict>
</plist>
